In [1]:
#Import Libraries
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn import linear_model as lm
import seaborn as sns
import numpy as np
import scipy.stats as stats
from pathlib import Path

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = Path('Resources/merged_data_cleaned.csv')
coffee_df = pd.read_csv(csv_path)
coffee_df.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [3]:
coffee_df.columns

Index(['Unnamed: 0', 'Species', 'Owner', 'Country.of.Origin', 'Farm.Name',
       'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 'Region',
       'Producer', 'Number.of.Bags', 'Bag.Weight', 'In.Country.Partner',
       'Harvest.Year', 'Grading.Date', 'Owner.1', 'Variety',
       'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body',
       'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points',
       'Total.Cup.Points', 'Moisture', 'Category.One.Defects', 'Quakers',
       'Color', 'Category.Two.Defects', 'Expiration', 'Certification.Body',
       'Certification.Address', 'Certification.Contact', 'unit_of_measurement',
       'altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters'],
      dtype='object')

In [4]:
coffee_df_new = coffee_df.rename(columns={'Total.Cup.Points': 'CoffeeScore',
                                            'Country.of.Origin': 'Country_of_Origin',
                                         'Processing.Method': 'Processing_Method'})

In [5]:
#Look at key metrics by species
#Coffee Score by Species
species_group = coffee_df_new.groupby('Species')
coffee_score_species_metrics = species_group.agg({"CoffeeScore": ["mean", "median", "var", "std", "sem"]})
coffee_score_species_metrics

        CoffeeScore
               mean median        var       std      sem
Species
Arabica   82.115927   82.5  12.360573  3.515761  0.09710
Robusta   80.868929   81.5   5.959617  2.441233  0.46135

In [7]:
#Given the high ariance in coffee scores, in particular among arabica variaties, we can use a box plot to show distribution of coffee scores

#Calculate upper and lower bounds, IQR and identify outliers

#Create boxplot
# plt.boxplot(coffee_df_new)
# plt.xticks([1, 2], ['Arabica', 'Robusta']) 
# plt.show()

In [8]:
#Flavor by Species
flavor_species_metrics = species_group.agg({"Flavor": ["mean", "median", "var", "std", "sem"]})
flavor_species_metrics

           Flavor
             mean median       var       std       sem
Species
Arabica  7.518070   7.58  0.159983  0.399979  0.011047
Robusta  7.630714   7.71  0.092207  0.303656  0.057386

In [9]:
#Aroma by Species
aroma_species_metrics = species_group.agg({"Aroma": ["mean", "median", "var", "std", "sem"]})
aroma_species_metrics

            Aroma
             mean median       var       std       sem
Species
Arabica  7.563806   7.58  0.143388  0.378666  0.010458
Robusta  7.702500   7.67  0.087708  0.296156  0.055968

In [10]:
#Aftertaste by Species
aftertaste_species_metrics = species_group.agg({"Aftertaste": ["mean", "median", "var", "std", "sem"]})
aftertaste_species_metrics

        Aftertaste
              mean median       var       std       sem
Species
Arabica   7.397696   7.42  0.164121  0.405119  0.011189
Robusta   7.559643   7.67  0.117285  0.342469  0.064721

In [11]:
#Look at key metrics by processing method
processing_method_group = coffee_df_new.groupby('Processing_Method')
coffee_score_pm_metrics = processing_method_group.agg({'CoffeeScore': ["mean", "median", "var", "std", "sem"]})
coffee_score_pm_metrics

                          CoffeeScore
                                 mean  median        var       std       sem
Processing_Method
Natural / Dry               82.245039  82.750   8.003929  2.829122  0.176133
Other                       81.278462  81.830  15.986422  3.998302  0.784132
Pulped natural / honey      82.807857  82.665   2.846787  1.687243  0.450935
Semi-washed / Semi-pulped   82.633571  82.500   3.121245  1.766705  0.236086
Washed / Wet                81.967816  82.420   7.184830  2.680453  0.093892

In [ ]:
# Generate a bar graph of coffee scores by processing method
# plt.bar(processing_method_group['Processing_Method'], processing_method_group['CoffeeScore'])
# plt.xlabel("Processing_Method")
# plt.ylabel("CoffeeScore")
# plt.show()

In [ ]:
#GroupBy Species and Country of Origin
#Count coffees by country for each species
species_by_country = coffee_df_new.groupby(['Species'])['Country_of_Origin'].value_counts()
species_by_country

#Look at percentage of coffees by country
#count_of_species = coffee_df_new['Species'].value_counts()
#count_of_species
#species_percent_by_country = species_by_country / count_of_species 
#species_percent_by_country

In [ ]:
#plot bar chart
country_count_chart = country_count
country_count_chart_clean = country_count.plot(kind='bar', figsize=(6,8))

#set x and y axis
country_count_chart_clean.set_xlabel("Country of Origin")
country_count_chart_clean.set_ylabel("Number of Coffees")

plt.tight_layout()

plt.show()